{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
   <div class="col-md-10">
        <div class="card">
          <div class="card-header">
              Название поста: {{ post.title }}
          </div>
          <div class="card-body">
            <h5 class="card-title">Автор: {{ post.author }}</h5>
            {% if post.image %}
              <img src="{{ post.image.url }}">
            {% endif %}
            <p class="card-text">{{ post.content }}</p>
            <p class="card-text">{{ post.update_date|date:"d:M:Y" }}</p>
            <a href="{%  url 'home_page' %}" class="btn btn-primary">Главная страница</a>
          </div>
        </div>
    </div>
{% endblock content %}