{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
   <div class="col-md-10">
        <div class="card">
          <div class="card-header">
              Название поста: {{ post.title }}
          </div>
          <div class="card-body">
            <h5 class="card-title">Автор: {{ post.author }}</h5>
            {% if post.image %}
              <img src="{{ post.image.url }}" alt="">
            {% endif %}
            <p class="card-text">{{ post.content }}</p>
            <p class="card-text">{{ post.update_date|date:"d:M:Y" }}</p>
          {% if post.author == request.user %}
                <a href="{% url 'post_update' post.pk %}" type="button"
                            class="btn btn-sm btn-outline-secondary">Редактировать</a>
{#При нажатии на кнопку удалить - выведет сообщение для подтверждения:#}
                      <form id="delete_form" action="{% url 'post_delete' post.id %}" method="post">
                          {% csrf_token %}
                      </form>

                      <a href="javascript:void()" onclick="delete_question()" type="button"
                         class="btn btn-sm btn-outline-secondary">Удалить</a> <br>
                      <script>
                          function delete_question() {
                              if (confirm("Вы уверены?")) {
                                  document.getElementById("delete_form").submit()
                              }
                          }
                      </script>

          {% endif %}
            <a href="{%  url 'home_page' %}" class="btn btn-primary">Главная страница</a>
          </div>
        </div>
   {% if request.user == is_authenticated %}
        <h4>Комментарии: {{ post.comments_post.count }}</h4>

       <ul>
           {% for comment in post.comments_post.all %}
                <li>
                    Дата написания: {{ comment.create_date }} <br>
                    Автор: {{ comment.author }} <br>
                    Статус: {{ comment.status }} <br>
                    Текст: <br>
                    {{ comment.text }}
                </li>
            {% endfor %}
       </ul>

        <hr>
        <h5>Добавить комментарий:</h5>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
   {% endif %}

    </div>
    </div>

{% endblock content %}