{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
   <div class="col-md-10">
        <div class="card">
            <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ field.label }}</span>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success btn-lg">Добавить</button>
            </form>
        </div>
    </div>
{% endblock content %}